.App {
  max-width: 700px;
  margin: 30px auto;
}
.App footer {
  font-size: 11px;
  margin: 10px;
}

.low-high {
  border-top: teal;
  border-bottom: teal;
  border-left: transparent;
  border-right: transparent;
  border-style: solid;
  margin: auto 10px;
}
.icons img {
  width: 50px;
  height: 50px;
}
.five-days {
  border: cornflowerblue;
  border-style: solid;
  border-radius: 10px;
  margin: auto 8px;
  padding-top: 5px;
}
.five-day-row {
  margin: auto 20px;
}
